server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: gateway-api-service
  main:
    web-application-type: reactive
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9080/realms/Saga-app

logging:
  level:
    root: info
    org.springframework.cloud.gateway.route.RouteDefinitionRouteLocator: INFO
    org:
      springframework:
        cloud:
          gateway: INFO
        security: DEBUG
        security.oauth2: TRACE
    com.kozubek.gatewayapistarter: DEBUG
